  <%= form_with(model: [@supplier, @product]) do |f| %>
    <% if @product.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this student from being saved:</h2>

        <ul>
          <% @product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="card w-50">
    <div class="card-header">
      <strong>Edit Product</strong>
    </div>
    <div class="card-body card-block">
    <form action="" method="post" class="form-horizontal">
      <div class="row form-group">
        <div class="col col-md-3">
          <%= f.label :name, for:"hf-email" %>
        </div>
        <div class="col-12 col-md-9">
          <%= f.text_field :name, class:"form-control", id:"hf-name", placeholder:"name"  %>
        </div>
      </div>
      <br/>
    <div class="row form-group">
      <div class="col col-md-3">
        <%= f.label :vehicle_type %>
      </div>
      <div class="col-12 col-md-9">
        <%= f.select( :product_type, options_for_select(Product::PRODUCT_TYPE , selected: @product.product_type || nil),{:include_blank => "Select Status"})%>
      </div>
    </div>
    <br/>
    <div class="row form-group">
      <div class="col col-md-3">
        <%= f.label :plate_number %>
      </div>
      <div class="col-12 col-md-9">
        <%= f.text_field :plate_number, class:"form-control", placeholder:"#" %>
      </div>
    </div>
    <br/>
    <div class="row form-group">
      <div class="col col-md-3">
        <%= f.label :registration_date %>
      </div>
      <div class="col-12 col-md-9">
        <%= f.date_select :registration_date,{ start_year: Date.current.year, end_year: 1920, include_blank: true } %>
      </div>
    </div>
    <br/>
    <div class="row form-group">
      <div class="col col-md-3">
        <%= f.label :vehicle_certificate %>
      </div>
      <div class="col-12 col-md-9">
        <%= f.file_field :image %>
      </div>
    </div>
    <br/>
    <div class="row form-group">
      <div class="col col-md-3">
        <%= f.label :capacity, for:"hf-product_type" %>
      </div>
      <div class="col-12 col-md-9">
        <%= f.text_field :capacity, class:"form-control", id:"hf-product_type", placeholder:"#" %>
      </div>
    </div>
    </form>
    </div>
    <div class="card-footer">
      <%= f.submit "Save", class:"btn btn-primary btn-sm" %>
      <%= link_to 'back', supplier_products_url, class:"btn btn-danger btn-sm" %>
    </div>
  </div>
<% end %>
